@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100;200;400&display=swap');

*{
  box-sizing: border-box;
}

html,body{
  font-family: 'Lobster Two', cursive;
  font-size: 12px;
}

.App {
  text-align: center;
}

.main-container{
  /* height: 100vh;
  width: 100%;
  color: white; */
  /* background: linear-gradient(rgba(0,0,0,.45),rgba(0,0,0,.55)),url(/src/assets/image_1.jpg);
  background-color: #ccc;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover; */
  padding: 5%;
}

h1{
  margin: 0;
  font-size: 7rem;
  color: rgb(90, 90, 90);

}

.cake-container img{
  width: 100%;
  max-width:80px;
  margin: 5%;
}

.description-container{
  font-size: 2rem;
  margin: 0 auto;
  width: 100%;
  /* background-color: rgba(0, 0, 0, 0.245); */
  padding: 2%;
  border-radius: 10px;
  font-family: 'Bitter', serif;
  /* font-weight: 400;
  border: 5px solid pink; */
}

.image-container img{
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  
  border: 5px solid pink;
}

.image-container p{
  /* position: absolute;
  bottom: 0; */
}

.image-container{
  margin-bottom: 10%;
}